@import url(./fonts/fonts.css);
@import url(./components/alert.css);
body {
  margin: 0;
  padding: 0;
  background: #e4ebee; }

.App {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  text-align: center; }
  .App .header {
    font-family: "resagokrregular" !important;
    color: #154368;
    font-size: 2em; }
  .App .app-wrapper {
    position: relative;
    width: 100%; }
    .App .app-wrapper h3 {
      font-family: "resagokrregular";
      text-align: left;
      color: #2E6DA4;
      margin-bottom: 0.5em; }
    .App .app-wrapper hr {
      margin-top: 0; }
    .App .app-wrapper .add-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      background: #2E6DA4;
      color: white;
      height: 50px;
      width: 50px;
      right: 0;
      top: -60px;
      text-decoration: none; }

.user {
  position: relative;
  display: flex;
  margin: 10px;
  background: white; }
  .user .item {
    display: inline-block; }
  .user .info {
    padding-left: 10px;
    font-family: "resagokrregular";
    text-align: left; }
    .user .info .name {
      font-size: 1.4em;
      color: #161c24;
      margin-bottom: 0; }
    .user .info .email {
      font-size: 1em;
      color: #393b3d; }
  .user .user-buttons {
    position: absolute;
    right: 0;
    bottom: 0; }
    .user .user-buttons .user-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      width: 50px;
      height: 50px;
      margin-left: 5px; }
      .user .user-buttons .user-btn:hover {
        cursor: pointer; }
      .user .user-buttons .user-btn.edit {
        background: #546455; }
      .user .user-buttons .user-btn.delete {
        background: #7c6662; }

.user-form {
  position: relative; }
  .user-form input {
    height: 40px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: "resagokrregular";
    font-size: 1em;
    padding-left: 10px; }
  .user-form .form-group {
    display: flex;
    justify-content: space-between; }
    .user-form .form-group input {
      width: calc(50% - 5px); }
  .user-form .form-submit button {
    height: 40px;
    border: none;
    padding: 0 2em 0 2em;
    margin: 0 10px 0 10px;
    font-size: 1.2em;
    font-family: "resagokrregular";
    border-radius: 0;
    color: white;
    background: #546455; }
