body {
  margin: 0;
  padding: 0;
  background: rgb(228, 235, 238);
}

.App {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  text-align: center;

  .header {
    font-family: "resagokrregular" !important;
    color: rgb(21, 67, 104);
    font-size: 2em;
  }

  .app-wrapper {
    position: relative;
    width: 100%;

    h3 {
      font-family: "resagokrregular";
      text-align: left;
      color: #2E6DA4;
      margin-bottom: 0.5em;
    }

    hr {
      margin-top: 0;
    }

    .add-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      background: #2E6DA4;
      color: white;
      height: 50px;
      width: 50px;
      right: 0;
      top: -60px;
      text-decoration: none;
    }
  }
}
